@import url('https://fonts.googleapis.com/css?family=Sanchez&display=swap');
body {
    font-family: 'Sanchez', serif;
}

.img-size {
    width: 25px;
    height: 25px;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content {
    height: 550px
}

/* Set gray background color and 100% height */

.sidenav {
    float: left;
    overflow: auto;
    background-color: #f1f1f1;
    height: 100%;
}

/* On small screens, set height to 'auto' for the grid */

@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}